/* home_work.css */
body {
    background-color:#f5f5f5;
}
main {
    width:402px; min-height:874px;
    margin:0 auto;
    background-image:url(../images/bg.jpg);
    background-size:100%;
    background-repeat:no-repeat;
    position:relative;
}
/* ============================ 타이틀 */
main .title {
    padding-top:150px;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    gap:8px;
}
main .title * {
    letter-spacing:-0.02em;
}
main .title p {
    font-size:0.75em;
}
main .title h1 {
    font-size:1.5em;
    font-weight:600;
}
/* ============================ 입력, 결과 폼 */
main form[name^=content] {
    padding-top:198px;
}
main form[name^=content] fieldset[class^=contents] {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    gap:6px;
}
main form[name^=content] fieldset[class^=contents] * {
    width:300px; height:42px;
    border-radius:8px;
    letter-spacing:-0.02em;
}
main form[name^=content] fieldset[class^=contents] input[name^=user] {
    text-align:center;
    /* margin-bottom:6px; */
    border:1px solid #000;
    font-size:0.875em;
}
main form[name^=content] fieldset[class^=contents] input[name^=user]::placeholder {
    color:#aaa;
}
main form[name^=content] fieldset[class^=contents] input[name^=user]:focus {
    border-color:#FF4DCA;
}
main form[name^=content] fieldset[class^=contents] button[id$=btn] {
    background-color:#242424;
    color:#fff;
    font-weight:500;
}
/* ============================ 결과 버튼 클릭 시 실행되는 팝업창 */
main .result_popup {
    background-color:#fff;
    width:322px; height:223px;
    border-radius:10px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    gap:24px;
    position:absolute;
    left:10%; top:40%;
    z-index:60;
}
main .result_popup * {
    letter-spacing:-0.02em;
    font-weight:700;
    font-size:0.875em;
}
main .result_popup .month {}
main .result_popup .flower_lang {}
main .result_popup h2 {
    font-weight:600;
    font-size:1em;
    line-height:1.5em;
    text-align:center;
}
main .result_popup h2 em {
    font-size:1em;
}
/* ============================ 결과 팝업 뒷배경 */
main .popup_bg {
    background-color:rgba(0, 0, 0, 0.25);
    width:100%; height:100%;
    position:absolute;
    left:0; top:0;
    z-index:50;
}